*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(14, 14, 14);
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(14, 14, 14);
    color: #ffff; 
    
        
}

.container{
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
   
}

.container .logo {
    margin-left: 300px;
    display: flex;
    margin-top: 30px;

}

.container .logo p{
    font-size: 25px;
    font-weight: bold;
}

.container .logo #verde{
     color: #00B69E;
     margin-left: 10px;
}

.container .menu {
    margin-top: 30px;
}

.container .menu a{ 
     text-decoration: none;
     color: #ffffff;
     padding: 10px;

}

.container .menu a:hover{
    color: #00B69E;
    transition: 1.5s;
}

