@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    background-color: rgb(14, 14, 14);
}

header{
    width: 100%;
    height: 80px;
    background-color: rgb(14, 14, 14);
    color: #ffff; 
    border: 1px solid rgba(0, 0, 0, 0.062);
    
        
}

.container{
    
    display: flex; 
    align-items: center;
    justify-content: space-between;
   
}

.container .logo {
    margin-left: 300px;
    display: flex;
    margin-top: 30px;

}


.container .logo p{
    font-size: 25px;
    font-weight: bold;
    font-family:  'Goldman', cursive;
}

.container .logo #verde{
     color: #00B69E;
     margin-left: 10px;
}

.container .menu {
    margin-top: 30px;
}

.container .menu a{ 
     text-decoration: none;
     color: #ffffff;
     padding: 15px;
     

}

.container .menu  nav a:hover{
    color: #00B69E;
    transition: 1.5s;
}

main {
    background-color: rgb(14, 14, 14);
    width: 100%;
    height: 89vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .inicio{
     margin-right: 400px;
}

main .inicio p{ 
color: #ffffff;
font-size: 21px;
padding: 10px 0 10px;    
}

main .inicio h1{
    color: #00B69E;
    font-weight: bolder;
    font-size: 3em;
}

main .inicio a{
    text-decoration: none;
}

main .inicio .web {
    display: flex;
}

main .inicio .web #green{
      color: #00B69E;
      margin-left: 20px;
      font-weight: bolder;
}

main .inicio .botao{
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

main .inicio .botao button{
     padding: 15px 100px;
     border: 1px solid #00B69E;
    border-radius: 10px;
    background-color: rgb(14, 14, 14);
    color: #00B69E; 
    cursor: pointer;
}

main .inicio .botao button:hover{
    background-color: rgb(23, 22, 22);
    transition: 0.5s;
}

main .imagem{
    background-image: url(fundo2-removebg-preview.png);
    width: 401px;
    height: 419px;
    background-size: cover;
    position: absolute;
    left: 60%;
    bottom: 28%
}
